*{
    margin: 0;
}
.nav{
    display: flex;
    justify-content: space-between;
    gap: 400px;
    height: 300px;
}
.ul{
    margin-top: 40px;
    margin-right: 30px;
}
.hol{
    display: flex;
    gap: 800px;
    margin-bottom: 40px;
}
.tx1{
    margin-left: 40px;
    font-size: xx-large;
}
select{
    width: 180px;
    height: 40px;
    text-align: center;
}
.lo{
    margin-top: 40px;
    margin-left: 60px;
    font-size: xx-large;
    font-weight: 300px;
    border: 2px solid black;
    width: 130px;
    height: 40px;
}
.lo span{
    color: red;
}
.nav ul{
    display: flex;
    gap: 40px;
}
.nav ul li{
    list-style-type: none; 
    font-size: large;
}
a{
    text-decoration: none;
    color: darkgreen;
}
a:hover{
    color: red;
}
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}